header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  background-color: #eac7c7;
  color: black;
  border-radius: 4em;
}
.titel {
  font-size: 600%;
  text-align: center;
  text-shadow: 2px 2px 2px #666;
  color: #821230;
}
hr {
  color: #821230;
}

body {
  background-color: #f9f3e7;
}

h1 {
  color: #821230;
}
h2 {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: #821230;
}
.artikel {
  padding: 0.5em;
  border: 0.2em solid #821230;
  text-align: center;
  font-family: Devanagari, sans-serif, serif;
}

.merch {
  text-align: center;
  color: black;
  transition: all 250ms ease;
}
.merch:hover {
  background-color: white;
  color: #000000;
  padding: 1em;
  border-radius: 10em;
  transform: scale(1);
}

.producten{
  max-width: 60%;
  padding: 5em;
  background-color: #eac7c7;
  border-radius: 5em;
}

.info {
  background-color: white;
  border: 0.1em solid black;
}



table {
  background-color: #eac7c7;
  color: #821230;
  padding: 3em;
}

p {
  padding: 1em;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eac7c7;
  padding: 1em;
  list-style: none;
}
li {
  margin-right: 2em;
}
img {
  max-width: 60%;
  padding: 2em;
  align-items: flex-end;
}
.logo {
  display: flex;
  justify-content: left;
  max-width: 20%;
  padding: 2em;
}
.slogan {
  max-width: 20%;
  padding: 0%;
  align-items: flex-start;
}
